/* Este CSS é para elementos referentes exclusivamente aos formulários de Login, Cadastro e Recuperação de Senha*/



#form{
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    background-color: #202020;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
}

.req-sign{
    color: #E10712;
}

h1{
    padding-top: 90px;
    text-align: center;
    margin-bottom: 15px;
}

.form-input{
    min-width: 240px;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
}

label{
    margin-left: 15px;
}

.input {
    padding: 21px;
    border-style: none;
    border-radius: 13px;
    height: 25px;
}

button{
    border-style: none;
    min-width: 262px;
    max-width: 300px;
    width: 70vw;
    height: 48px;
    background: linear-gradient(90deg, #752222 0%, #E10712 100%);
    border-radius: 11px;
    margin: 10px auto;
}

button:hover{
    cursor: pointer;
}

#btn-text{
    font-size: larger;
    color: white;
}
