

#form{
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}

#rect{
    clip-path: polygon(0 25%, 100% 0, 100% 2%, 0 27%);
    height: 466px;
}

@media (min-height: 700px) {

    .bg{
        background-position-x: 17%;
        background-size: 200%;
    }
}

@media (min-height: 900px) {

    .bg{
        background-position-x: 17%;
        background-size: 250%;
    }
}
