body{
    background-size: 217vw;
}

#form{
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}

.red-rect{
    clip-path: polygon(0 25%, 100% 0, 100% 2%, 0 27%);
    bottom: 2%;
    height: 466px;
}

@media (max-height: 500px) {

    .red-rect{
        bottom: -32%;
    }

    html{
        height: 135%;
    }
}
