

#rect{
    position: absolute;
    clip-path: polygon(0 97%, 100% 0, 100% 3%, 0 100%);
    bottom: 87%;
    height: 131px;
}

#form{
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
}

h1{
    padding-top: 160px;
}

.warning{
    color: yellow;
    font-size: xx-small;
    text-align: center;
}