body{
    background-size: 123vw;
    background-position: 20% 0%;
}

.red-rect{
    clip-path: polygon(0 97%, 100% 0, 100% 3%, 0 100%);
    position: absolute;
    bottom: 76%;
    width: 100%;
    height: 204px;
    z-index: 3;
    background-color: #E10712;
}

#form{
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    background-color: #202020;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
}

h1{
    padding-top: 160px;
}

@media (max-height: 1080px) {
    body{
        background-size: 142vw;
    }
}


@media (max-height: 500px) {

    html{
        height: 135%;
    }

    body{
        background-position: 30% 0%;
    }
}