

#rect{
    clip-path: polygon(0 97%, 100% 0, 100% 3%, 0 100%);
    bottom: 80%;
    height: 204px;
}

#form{
    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
}

h1{
    padding-top: 160px;
}

.warning{
    color: yellow;
    font-size: xx-small;
    text-align: center;
}

@media (max-height: 1080px) {
    body{
        background-size: 142vw;
    }
}


@media (max-height: 500px) {

    html{
        height: 135%;
    }

    body{
        background-position: 30% 0%;
    }
}