#rect{
    background-color: #09D815;
    clip-path: polygon(0 97%, 100% 0, 100% 3%, 0 100%);
    bottom: 360px;
    height: 121px;
}



button{
    background: linear-gradient(90deg, #1F4700 0%, #07E116 100%);
}

h1{
    padding-top: 140px;
    font-size: xx-large;
}

@media (min-height: 500px) {
    #rect{
        bottom: 330px;
        height: 111px;
    }
}

@media (min-height: 700px) {

    .bg{
        background-position-x: 17%;
        background-size: 200%;
    }
}

@media (min-height: 900px) {

    .bg{
        background-position-x: 23%;
        background-size: 250%;
    }
}